<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header col-lg-4">
      <a class="logo"  href="/"><%= image_tag "pophealth_logo_small-trans.png" %></a>
    </div>
    <div class="collapse navbar-collapse in">
      <ul class="nav navbar-nav pull-left col-lg-2" style="margin-top: 10px">
        <li>General Hospital 2012</li>
      </ul>
    </div>
  </div>
</div>
